<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinonc.system.mapper.BudistCompanyMapper">

    <resultMap type="BudistCompany" id="BudistCompanyResult">
        <result property="distId" column="dist_id"/>
        <result property="companyName" column="company_name"/>
        <result property="companyCode" column="company_code"/>
        <result property="legalPerson" column="legal_person"/>
        <result property="legalIdcard" column="legal_idcard"/>
        <result property="bulicensePic" column="bulicense_pic"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectBudistCompanyVo">
        select dist_id, company_name, company_code, legal_person, legal_idcard, bulicense_pic, create_time, update_time        from budist_company
    </sql>

    <select id="selectBudistCompanyList" parameterType="BudistCompany" resultMap="BudistCompanyResult">
        <include refid="selectBudistCompanyVo"/>
        <where>
            <if test="companyName != null  and companyName != ''">
                and company_name like concat('%', #{companyName}, '%')
            </if>
            <if test="companyCode != null  and companyCode != ''">
                and company_code = #{companyCode}
            </if>
            <if test="legalPerson != null  and legalPerson != ''">
                and legal_person = #{legalPerson}
            </if>
            <if test="legalIdcard != null  and legalIdcard != ''">
                and legal_idcard = #{legalIdcard}
            </if>
            <if test="bulicensePic != null  and bulicensePic != ''">
                and bulicense_pic = #{bulicensePic}
            </if>
        </where>
    </select>

    <select id="selectBudistCompanyById" parameterType="Long" resultMap="BudistCompanyResult">
        <include refid="selectBudistCompanyVo"/>
        where dist_id = #{distId}
    </select>

    <insert id="insertBudistCompany" parameterType="BudistCompany" useGeneratedKeys="true"
            keyProperty="distId">
        insert into budist_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">company_name,
            </if>
            <if test="companyCode != null">company_code,
            </if>
            <if test="legalPerson != null">legal_person,
            </if>
            <if test="legalIdcard != null">legal_idcard,
            </if>
            <if test="bulicensePic != null">bulicense_pic,
            </if>
            <if test="createTime != null">create_time,
            </if>
            <if test="updateTime != null">update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">#{companyName},
            </if>
            <if test="companyCode != null">#{companyCode},
            </if>
            <if test="legalPerson != null">#{legalPerson},
            </if>
            <if test="legalIdcard != null">#{legalIdcard},
            </if>
            <if test="bulicensePic != null">#{bulicensePic},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
        </trim>
    </insert>

    <update id="updateBudistCompany" parameterType="BudistCompany">
        update budist_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null">company_name =
                #{companyName},
            </if>
            <if test="companyCode != null">company_code =
                #{companyCode},
            </if>
            <if test="legalPerson != null">legal_person =
                #{legalPerson},
            </if>
            <if test="legalIdcard != null">legal_idcard =
                #{legalIdcard},
            </if>
            <if test="bulicensePic != null">bulicense_pic =
                #{bulicensePic},
            </if>
            <if test="createTime != null">create_time =
                #{createTime},
            </if>
            <if test="updateTime != null">update_time =
                #{updateTime},
            </if>
        </trim>
        where dist_id = #{distId}
    </update>

    <delete id="deleteBudistCompanyById" parameterType="Long">
        delete
        from budist_company where dist_id = #{distId}
    </delete>

    <delete id="deleteBudistCompanyByIds" parameterType="String">
        delete from budist_company where dist_id in
        <foreach item="distId" collection="array" open="(" separator="," close=")">
            #{distId}
        </foreach>
    </delete>

</mapper>
