<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinonc.orders.mapper.FeedbackMapper">
    
    <resultMap type="com.sinonc.orders.domain.AppFeedback" id="AppSuggestResult">
        <result property="feedbackId"    column="feedback_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="suggestType"    column="suggest_type"    />
        <result property="suggestCotent"    column="suggest_cotent"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="suggestStatus"    column="suggest_status"    />
        <result property="dealWith"    column="deal_with"    />
        <result property="createTime"    column="create_time"    />
        <result property="dealTime"    column="deal_time"    />
    </resultMap>
	
	<sql id="selectAppSuggestVo">
        select feedback_id, member_id, suggest_type, suggest_cotent, image_url, suggest_status, deal_with, create_time, deal_time from od_app_feedback
    </sql>
	
    <select id="selectAppSuggestList" parameterType="com.sinonc.orders.domain.AppFeedback" resultMap="AppSuggestResult">
        <include refid="selectAppSuggestVo"/>
        <where>  
            <if test="feedbackId != null "> and feedback_id = #{feedbackId}</if>
             <if test="memberId != null "> and member_id = #{memberId}</if>
             <if test="suggestType != null  and suggestType != '' "> and suggest_type = #{suggestType}</if>
             <if test="suggestCotent != null  and suggestCotent != '' "> and suggest_cotent = #{suggestCotent}</if>
             <if test="imageUrl != null  and imageUrl != '' "> and image_url = #{imageUrl}</if>
             <if test="suggestStatus != null  and suggestStatus != '' "> and suggest_status = #{suggestStatus}</if>
             <if test="dealWith != null  and dealWith != '' "> and deal_with = #{dealWith}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="dealTime != null "> and deal_time = #{dealTime}</if>
         </where>
         order by feedback_id desc
    </select>
    
    <select id="selectAppSuggestById" parameterType="Long" resultMap="AppSuggestResult">
        <include refid="selectAppSuggestVo"/>
        where feedback_id = #{feedbackId}
    </select>
        
    <insert id="insertAppSuggest" parameterType="com.sinonc.orders.domain.AppFeedback" useGeneratedKeys="true" keyProperty="feedbackId">
        insert into od_app_feedback
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="memberId != null  ">member_id,</if>
			<if test="suggestType != null  and suggestType != ''  ">suggest_type,</if>
			<if test="suggestCotent != null  and suggestCotent != ''  ">suggest_cotent,</if>
			<if test="imageUrl != null  and imageUrl != ''  ">image_url,</if>
			<if test="suggestStatus != null  and suggestStatus != ''  ">suggest_status,</if>
			<if test="dealWith != null  and dealWith != ''  ">deal_with,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="dealTime != null  ">deal_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="memberId != null  ">#{memberId},</if>
			<if test="suggestType != null  and suggestType != ''  ">#{suggestType},</if>
			<if test="suggestCotent != null  and suggestCotent != ''  ">#{suggestCotent},</if>
			<if test="imageUrl != null  and imageUrl != ''  ">#{imageUrl},</if>
			<if test="suggestStatus != null  and suggestStatus != ''  ">#{suggestStatus},</if>
			<if test="dealWith != null  and dealWith != ''  ">#{dealWith},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="dealTime != null  ">#{dealTime},</if>
         </trim>
    </insert>
	 
    <update id="updateAppSuggest" parameterType="com.sinonc.orders.domain.AppFeedback">
        update od_app_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null  ">member_id = #{memberId},</if>
            <if test="suggestType != null  and suggestType != ''  ">suggest_type = #{suggestType},</if>
            <if test="suggestCotent != null  and suggestCotent != ''  ">suggest_cotent = #{suggestCotent},</if>
            <if test="imageUrl != null  and imageUrl != ''  ">image_url = #{imageUrl},</if>
            <if test="suggestStatus != null  and suggestStatus != ''  ">suggest_status = #{suggestStatus},</if>
            <if test="dealWith != null  and dealWith != ''  ">deal_with = #{dealWith},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="dealTime != null  ">deal_time = #{dealTime},</if>
        </trim>
        where feedback_id = #{feedbackId}
    </update>

	<delete id="deleteAppSuggestById" parameterType="Long">
        delete from od_app_feedback where feedback_id = #{feedbackId}
    </delete>
	
    <delete id="deleteAppSuggestByIds" parameterType="String">
        delete from od_app_feedback where feedback_id in
        <foreach item="feedbackId" collection="array" open="(" separator="," close=")">
            #{feedbackId}
        </foreach>
    </delete>
    
</mapper>