<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinonc.orders.mapper.OdCategoryMapper">

    <resultMap type="com.sinonc.orders.domain.OdCategory" id="OdCategoryResult">
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>

    <sql id="selectOdCategoryVo">
        select category_id, category_name, create_by, create_time, update_time, update_by, parent_id
        from od_category
    </sql>

    <select id="selectOdCategoryList" parameterType="com.sinonc.orders.domain.OdCategory" resultMap="OdCategoryResult">
        <include refid="selectOdCategoryVo"/>
        <where>
            <if test="categoryName != null  and categoryName != ''">
                and category_name like concat('%', #{categoryName}, '%')
            </if>
            <if test="parentId != null ">
                and parent_id = #{parentId}
            </if>
        </where>
    </select>

    <select id="selectOdCategoryById" parameterType="Long" resultMap="OdCategoryResult">
        <include refid="selectOdCategoryVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertOdCategory" parameterType="com.sinonc.orders.domain.OdCategory" useGeneratedKeys="true"
            keyProperty="categoryId">
        insert into od_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">category_name,
            </if>
            <if test="createBy != null">create_by,
            </if>
            <if test="createTime != null">create_time,
            </if>
            <if test="updateTime != null">update_time,
            </if>
            <if test="updateBy != null">update_by,
            </if>
            <if test="parentId != null">parent_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null">#{categoryName},
            </if>
            <if test="createBy != null">#{createBy},
            </if>
            <if test="createTime != null">#{createTime},
            </if>
            <if test="updateTime != null">#{updateTime},
            </if>
            <if test="updateBy != null">#{updateBy},
            </if>
            <if test="parentId != null">#{parentId},
            </if>
        </trim>
    </insert>

    <update id="updateOdCategory" parameterType="com.sinonc.orders.domain.OdCategory">
        update od_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null">category_name =
                #{categoryName},
            </if>
            <if test="createBy != null">create_by =
                #{createBy},
            </if>
            <if test="createTime != null">create_time =
                #{createTime},
            </if>
            <if test="updateTime != null">update_time =
                #{updateTime},
            </if>
            <if test="updateBy != null">update_by =
                #{updateBy},
            </if>
            <if test="parentId != null">parent_id =
                #{parentId},
            </if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteOdCategoryById" parameterType="Long">
        delete
        from od_category
        where category_id = #{categoryId}
    </delete>

    <delete id="deleteOdCategoryByIds" parameterType="String">
        delete from od_category where category_id in
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>

</mapper>
