<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinonc.agriculture.mapper.DiagnosisIllnessResultMapper">
    
    <resultMap type="com.sinonc.agriculture.domain.DiagnosisIllnessResult" id="DiagnosisIllnessResultResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="illnessIdP"    column="illness_id_p"    />
    </resultMap>

    <sql id="selectDiagnosisIllnessResultVo">
        select id, title, content, create_time, illness_id_p from diagnosis_illness_result
    </sql>

    <select id="selectDiagnosisIllnessResultList" parameterType="com.sinonc.agriculture.domain.DiagnosisIllnessResult" resultMap="DiagnosisIllnessResultResult">
        <include refid="selectDiagnosisIllnessResultVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="illnessIdP != null "> and illness_id_p = #{illnessIdP}</if>
        </where>
    </select>
    
    <select id="selectDiagnosisIllnessResultById" parameterType="Long" resultMap="DiagnosisIllnessResultResult">
        <include refid="selectDiagnosisIllnessResultVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDiagnosisIllnessResult" parameterType="com.sinonc.agriculture.domain.DiagnosisIllnessResult" useGeneratedKeys="true" keyProperty="id">
        insert into diagnosis_illness_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="illnessIdP != null ">illness_id_p,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="illnessIdP != null ">#{illnessIdP},</if>
         </trim>
    </insert>

    <update id="updateDiagnosisIllnessResult" parameterType="com.sinonc.agriculture.domain.DiagnosisIllnessResult">
        update diagnosis_illness_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="illnessIdP != null ">illness_id_p = #{illnessIdP},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDiagnosisIllnessResultById" parameterType="Long">
        delete from diagnosis_illness_result where id = #{id}
    </delete>

    <delete id="deleteDiagnosisIllnessResultByIds" parameterType="String">
        delete from diagnosis_illness_result where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>