<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinonc.agriculture.mapper.ExpertCertifiedMapper">

    <resultMap type="com.sinonc.agriculture.domain.ExpertCertified" id="ExpertCertifiedResult">
        <result property="certifiedId" column="certified_id"/>
        <result property="expertId" column="expert_id"/>
        <result property="memberId" column="member_id"/>
        <result property="certifiedName" column="certified_name"/>
        <result property="certifiedImg" column="certified_img"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectExpertCertifiedVo">
        select certified_id, expert_id, member_id, certified_name, certified_img, create_time, update_time from expert_certified
    </sql>

    <select id="selectExpertCertifiedList" parameterType="com.sinonc.agriculture.domain.ExpertCertified"
            resultMap="ExpertCertifiedResult">
        <include refid="selectExpertCertifiedVo"/>
        <where>
            <if test="expertId != null ">and expert_id = #{expertId}</if>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="certifiedName != null  and certifiedName != ''">and certified_name like concat('%',
                #{certifiedName}, '%')
            </if>
            <if test="certifiedImg != null  and certifiedImg != ''">and certified_img = #{certifiedImg}</if>
        </where>
    </select>

    <select id="selectExpertCertifiedById" parameterType="Long" resultMap="ExpertCertifiedResult">
        <include refid="selectExpertCertifiedVo"/>
        where certified_id = #{certifiedId}
    </select>

    <insert id="insertExpertCertified" parameterType="com.sinonc.agriculture.domain.ExpertCertified"
            useGeneratedKeys="true" keyProperty="certifiedId">
        insert into expert_certified
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="expertId != null ">expert_id,</if>
            <if test="memberId != null ">member_id,</if>
            <if test="certifiedName != null  and certifiedName != ''">certified_name,</if>
            <if test="certifiedImg != null  and certifiedImg != ''">certified_img,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="expertId != null ">#{expertId},</if>
            <if test="memberId != null ">#{memberId},</if>
            <if test="certifiedName != null  and certifiedName != ''">#{certifiedName},</if>
            <if test="certifiedImg != null  and certifiedImg != ''">#{certifiedImg},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateExpertCertified" parameterType="com.sinonc.agriculture.domain.ExpertCertified">
        update expert_certified
        <trim prefix="SET" suffixOverrides=",">
            <if test="expertId != null ">expert_id = #{expertId},</if>
            <if test="memberId != null ">member_id = #{memberId},</if>
            <if test="certifiedName != null  and certifiedName != ''">certified_name = #{certifiedName},</if>
            <if test="certifiedImg != null  and certifiedImg != ''">certified_img = #{certifiedImg},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where certified_id = #{certifiedId}
    </update>

    <delete id="deleteExpertCertifiedById" parameterType="Long">
        delete from expert_certified where certified_id = #{certifiedId}
    </delete>

    <delete id="deleteExpertCertifiedByIds" parameterType="String">
        delete from expert_certified where certified_id in
        <foreach item="certifiedId" collection="array" open="(" separator="," close=")">
            #{certifiedId}
        </foreach>
    </delete>

    <delete id="deleteExpertCertifiedByExpertInfoId" parameterType="Long">
        delete from expert_certified where expert_id = #{expertId}
    </delete>

</mapper>