<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinonc.agriculture.mapper.ExpertDynamicMapper">

    <resultMap type="com.sinonc.agriculture.domain.ExpertDynamic" id="ExpertDynamicResult">
        <result property="dynamicId" column="dynamic_id"/>
        <result property="cropId" column="crop_id"/>
        <result property="sectionId" column="section_id"/>
        <result property="memberId" column="member_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="readCount" column="read_count"/>
        <result property="img" column="img"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="sysName" column="sys_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectExpertDynamicVo">
        select dynamic_id,
               crop_id,
               section_id,
               member_id,
               title,
               content,
               read_count,
               img,
               like_count,
               comment_count,
               sys_name,
               create_time,
               update_time
        from expert_dynamic
    </sql>

    <select id="selectExpertDynamicList" parameterType="com.sinonc.agriculture.domain.ExpertDynamic"
            resultMap="ExpertDynamicResult">
        <include refid="selectExpertDynamicVo"/>
        <where>
            <if test="memberId != null ">and member_id = #{memberId}</if>
            <if test="cropId != null ">and crop_id = #{cropId}</if>
            <if test="sectionId != null ">and section_id = #{sectionId}</if>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="sysName != null  and sysName != ''">and sys_name = #{sysName}</if>
        </where>
    </select>

    <select id="selectExpertDynamicById" parameterType="Long" resultMap="ExpertDynamicResult">
        <include refid="selectExpertDynamicVo"/>
        where dynamic_id = #{dynamicId}
    </select>

    <insert id="insertExpertDynamic" parameterType="com.sinonc.agriculture.domain.ExpertDynamic" useGeneratedKeys="true"
            keyProperty="dynamicId">
        insert into expert_dynamic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="memberId != null ">member_id,</if>
            <if test="cropId != null ">crop_id,</if>
            <if test="sectionId != null ">section_id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="readCount != null ">read_count,</if>
            <if test="img != null  and img != ''">img,</if>
            <if test="likeCount != null ">like_count,</if>
            <if test="commentCount != null ">comment_count,</if>
            <if test="sysName != null  and sysName != ''">sys_name,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="memberId != null ">#{memberId},</if>
            <if test="cropId != null ">#{cropId},</if>
            <if test="sectionId != null ">#{sectionId},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="readCount != null ">#{readCount},</if>
            <if test="img != null  and img != ''">#{img},</if>
            <if test="likeCount != null ">#{likeCount},</if>
            <if test="commentCount != null ">#{commentCount},</if>
            <if test="sysName != null  and sysName != ''">#{sysName},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="addCount" parameterType="long">
        update expert_dynamic
        set ${param1} = ${param1} + 1
        where dynamic_id = #{param2}
    </update>

    <update id="updateExpertDynamic" parameterType="com.sinonc.agriculture.domain.ExpertDynamic">
        update expert_dynamic
        <trim prefix="SET" suffixOverrides=",">
            <if test="memberId != null ">member_id = #{memberId},</if>
            <if test="cropId != null ">crop_id = #{cropId},</if>
            <if test="sectionId != null ">section_id = #{sectionId},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="readCount != null ">read_count = #{readCount},</if>
            <if test="img != null  and img != ''">img = #{img},</if>
            <if test="likeCount != null ">like_count = #{likeCount},</if>
            <if test="commentCount != null ">comment_count = #{commentCount},</if>
            <if test="sysName != null  and sysName != ''">sys_name = #{sysName},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where dynamic_id = #{dynamicId}
    </update>

    <delete id="deleteExpertDynamicById" parameterType="Long">
        delete
        from expert_dynamic
        where dynamic_id = #{dynamicId}
    </delete>

    <delete id="deleteExpertDynamicByIds" parameterType="String">
        delete from expert_dynamic where dynamic_id in
        <foreach item="dynamicId" collection="array" open="(" separator="," close=")">
            #{dynamicId}
        </foreach>
    </delete>

</mapper>