<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改种养殖技术点赞')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-growtechlike-edit" th:object="${growtechLike}">
            <input name="likeId" th:field="*{likeId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">种养殖技术id：</label>
                <div class="col-sm-8">
                    <input name="growtechIdP" th:field="*{growtechIdP}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">会员ID：</label>
                <div class="col-sm-8">
                    <input name="memberIdP" th:field="*{memberIdP}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "agriculture/growtechlike";
        $("#form-growtechlike-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-growtechlike-edit').serialize());
            }
        }
    </script>
</body>
</html>