<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('种养殖技术点赞列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">



            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('agriculture:growtechlike:edit')}]];
        var removeFlag = [[${@permission.hasPermi('agriculture:growtechlike:remove')}]];
        var prefix = ctx + "agriculture/growtechlike";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "种养殖技术点赞",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'likeId',
                    title : '点赞ID',
                    visible: false
                },
                {
                    field : 'growtechIdP',
                    title : '种养殖技术id'
                },
                {
                    field : 'memberIdP',
                    title : '会员ID'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.likeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
